.cont{
    display: grid;
    place-items: center;
    height: 100vh;
    background:linear-gradient(#00b4d8,#03045e);
}


.solid{
    background-image: url(/public/assets/geographic-stock-google-pixel-wallpaper-preview.jpg);
    background-position: center;
    width: 50%;
   

    background-repeat: no-repeat;
    padding: 20px;
    color: #fff;
    padding: 5%;
    text-align: center;

    border: none;
    border-radius: 20px;
    box-shadow: 8px 8px 15px rgb(2, 2, 2);
    height:auto;

}